In [2]:
import pandas as pd

In [3]:
turb = pd.read_csv("Water/turbidity_monthly.csv").set_index("datetimeUTC")
turb.index = pd.to_datetime(turb.index)
turbnonna = turb.fillna(method="bfill").fillna(method="ffill") #interpolate
# turbnonna.to_csv("Water/turbidity_monthly_nonna.csv")

In [4]:
ph = pd.read_csv("Water/pH_monthly.csv").set_index("datetimeUTC")
ph.index = pd.to_datetime(ph.index)
ph = ph.fillna(method="bfill").fillna(method="ffill") #interpolate
ph

,California,Texas,North Dakota,Wyoming,Pennsylvania,West Virginia,Oklahoma,Florida,New York,Ohio
datetimeUTC,,,,,,,,,,
2000-01-31 00:00:00+00:00,8.317204,7.569588,7.641935,8.180000,6.270027,7.243333,7.820645,7.780000,8.007246,7.318536
2000-02-29 00:00:00+00:00,8.116379,7.588297,7.647321,8.180000,6.217853,7.243333,7.863448,7.780000,8.007246,7.383687
2000-03-31 00:00:00+00:00,8.110941,7.687039,8.077500,8.180000,6.352823,7.243333,7.634839,7.780000,8.007246,7.008531
2000-04-30 00:00:00+00:00,7.831667,7.673864,8.320833,8.180000,6.622318,7.243333,7.812667,7.780000,8.007246,7.169826
2000-05-31 00:00:00+00:00,7.815430,7.569981,8.372581,8.180000,6.770357,7.243333,7.461505,7.780000,8.007246,7.275332
...,...,...,...,...,...,...,...,...,...,...
2022-08-31 00:00:00+00:00,7.898180,7.975502,8.296989,8.061290,7.707585,7.796911,8.149977,7.319975,7.756573,7.938600
2022-09-30 00:00:00+00:00,7.854580,7.965684,8.402667,7.995833,7.730803,7.846245,7.953333,7.242145,7.803483,7.910273
2022-10-31 00:00:00+00:00,7.837428,8.050167,8.480072,8.093000,7.755555,7.825817,7.997034,7.392603,7.914533,7.994524
2022-11-30 00:00:00+00:00,7.927999,7.819498,8.557778,8.093000,7.667910,7.726117,7.898194,7.469025,7.903684,7.983438
2022-12-31 00:00:00+00:00,7.817978,7.734603,8.281004,8.093000,7.604371,7.674068,7.860816,7.487747,7.928020,8.119821

In [7]:
temp = pd.read_csv("Water/temperature_monthly.csv").set_index("datetimeUTC")
temp.index = pd.to_datetime(temp.index)
temp = temp.fillna(method="bfill").fillna(method="ffill") #interpolate
temp.resample("MS").mean()

,California,Texas,North Dakota,Wyoming,Pennsylvania,West Virginia,Oklahoma,Florida,New York,Ohio
datetimeUTC,,,,,,,,,,
2000-01-01 00:00:00+00:00,9.178916,12.445836,0.783656,0.045161,2.368902,2.491935,5.682437,19.011127,1.201868,3.340598
2000-02-01 00:00:00+00:00,9.914265,15.157896,1.332989,0.405747,2.267108,3.750000,8.703448,19.756983,0.846331,4.119287
2000-03-01 00:00:00+00:00,11.156489,18.204863,3.457043,3.229032,6.821660,8.145161,12.275986,23.263321,4.431051,9.965557
2000-04-01 00:00:00+00:00,13.570469,20.714020,8.685681,9.367778,10.050706,11.125000,16.698148,24.153959,7.774637,12.320933
2000-05-01 00:00:00+00:00,15.317995,25.044272,15.998694,11.838710,15.322927,15.491935,20.693369,27.407253,13.506535,19.024503
...,...,...,...,...,...,...,...,...,...,...
2022-08-01 00:00:00+00:00,19.537764,28.551445,22.939558,18.675138,22.691034,22.322228,26.514215,28.547353,20.875112,22.957689
2022-09-01 00:00:00+00:00,18.180644,27.057506,17.880304,15.548521,19.345940,19.965941,24.276610,27.196034,17.867870,19.880930
2022-10-01 00:00:00+00:00,15.170036,22.548581,9.400869,10.417843,12.494275,12.276018,18.497588,24.061891,12.220596,12.216695
2022-11-01 00:00:00+00:00,9.512101,17.693974,1.902397,5.557778,8.596683,8.784340,12.625269,22.843775,8.295794,7.969582
2022-12-01 00:00:00+00:00,8.116427,15.133223,0.200498,4.982788,3.628426,4.149342,8.460218,20.078833,3.352556,3.345580