In [361]:
import numpy as np
import pandas as pd

<h3>Coal Consumption by State; Electric Power Used in Short Tons; Quarterly 2001-2022</h3>

In [363]:
coal = pd.read_csv("raw_data/coal_consumption.csv")
coal.head(25)

,Total consumption - COAL,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 84,Unnamed: 85,Unnamed: 86,Unnamed: 87,Unnamed: 88,Unnamed: 89,Unnamed: 90,Unnamed: 91,Unnamed: 92,Unnamed: 93
0,https://www.eia.gov/coal/data/browser/#/topic/...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Wed Mar 22 2023 18:09:54 GMT-0400 (Eastern Day...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Source: U.S. Energy Information Administration,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,description,units,source key,Q1 2000,Q2 2000,Q3 2000,Q4 2000,Q1 2001,Q2 2001,Q3 2001,...,Q2 2020,Q3 2020,Q4 2020,Q1 2021,Q2 2021,Q3 2021,Q4 2021,Q1 2022,Q2 2022,Q3 2022
4,Total consumption,short tons,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Electric power,short tons,COAL.CONS_TOT.US-98.Q,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Electric power : United States,short tons,COAL.CONS_TOT.US-98.Q,--,--,--,--,241715247,229370911,263450241,...,87101309,139008772,111741925,127648315,113708194,157020896,102988304,122626750,107247380,134716438
7,Electric power : New England,short tons,COAL.CONS_TOT.NEW-98.Q,--,--,--,--,2145729,1692765,1882077,...,11677,15428,50365,267770,25696,32965,23716,137614,16236,24877
8,Electric power : Connecticut,short tons,COAL.CONS_TOT.CT-98.Q,--,--,--,--,447240,401770,419530,...,0,1966,1692,157874,0,0,0,0,0,0
9,Electric power : Maine,short tons,COAL.CONS_TOT.ME-98.Q,--,--,--,--,49280,43330,44830,...,8926,13462,15872,18115,13756,20371,16573,23559,14189,9361
10,Electric power : Massachusetts,short tons,COAL.CONS_TOT.MA-98.Q,--,--,--,--,1230319,968775,1005048,...,0,--,--,--,--,--,--,--,--,--
11,Electric power : New Hampshire,short tons,COAL.CONS_TOT.NH-98.Q,--,--,--,--,418890,278890,412669,...,2751,0,32801,91781,11940,12594,7143,114055,2047,15516
12,Electric power : Rhode Island,short tons,COAL.CONS_TOT.RI-98.Q,--,--,--,--,--,--,--,...,0,0,0,0,0,0,0,0,0,0
13,Electric power : Vermont,short tons,COAL.CONS_TOT.VT-98.Q,--,--,--,--,--,--,--,...,--,--,--,--,--,--,--,--,--,--
14,Electric power : Middle Atlantic,short tons,COAL.CONS_TOT.MAT-98.Q,--,--,--,--,16589864,14552377,16809994,...,2874679,3676682,3795642,5375138,3719331,4962754,2708773,5068711,2767703,3111306
15,Electric power : New Jersey,short tons,COAL.CONS_TOT.NJ-98.Q,--,--,--,--,1189780,969364,1184169,...,112015,128384,114700,136573,95731,169705,94123,174474,67136,0
16,Electric power : New York,short tons,COAL.CONS_TOT.NY-98.Q,--,--,--,--,2704385,2158794,2422484,...,0,0,0,0,0,0,0,0,0,0
17,Electric power : Pennsylvania,short tons,COAL.CONS_TOT.PA-98.Q,--,--,--,--,12695699,11424219,13203341,...,2762664,3548298,3680942,5238565,3623600,4793049,2614650,4894237,2700567,3111306
18,Electric power : East North Central,short tons,COAL.CONS_TOT.ENC-98.Q,--,--,--,--,53955231,50786870,58908179,...,16859984,27447842,24561746,28618019,24578656,33751414,21597307,27730484,23631540,27933077
19,Electric power : Illinois,short tons,COAL.CONS_TOT.IL-98.Q,--,--,--,--,11345998,10714351,13140705,...,3327995,5672916,4923474,6065526,6284403,7949053,5362334,7115716,5752825,6389658
20,Electric power : Indiana,short tons,COAL.CONS_TOT.IN-98.Q,--,--,--,--,14329461,13280336,15717631,...,4813372,7596935,6277599,7461750,6608293,9030561,4627385,6615989,6672091,7260141
21,Electric power : Michigan,short tons,COAL.CONS_TOT.MI-98.Q,--,--,--,--,8452329,8076070,9346162,...,2635581,4682831,4826974,5582844,4315600,5851010,4969385,4851892,4791373,5503191
22,Electric power : Ohio,short tons,COAL.CONS_TOT.OH-98.Q,--,--,--,--,13983112,12958471,14118895,...,3372087,5340489,5492212,5157534,3801387,6092092,3978655,5409033,3720293,5160478
23,Electric power : Wisconsin,short tons,COAL.CONS_TOT.WI-98.Q,--,--,--,--,5844331,5757642,6584786,...,2710949,4154671,3041487,4350365,3568973,4828698,2659548,3737854,2694958,3619609
24,Electric power : West North Central,short tons,COAL.CONS_TOT.WNC-98.Q,--,--,--,--,35043296,31360255,37118803,...,17751099,27945498,23282383,26071384,22607716,31510024,21784371,25109514,20620406,30247393

In [364]:
coaldf = coal.loc[6:, ]
coaldf.columns = coal.loc[3,:].values
regstates = coaldf.description.str.extract("Electric power : (.*)")
usstates = ["Alabama", "Alaska", "Arizona", "Arkansas", "California", "Colorado", "Connecticut", "Delaware", "Florida", "Georgia", "Hawaii", "Idaho", "Illinois", "Indiana", "Iowa", "Kansas", "Kentucky", "Louisiana", "Maine", "Maryland", "Massachusetts", "Michigan", "Minnesota", "Mississippi", "Missouri", "Montana", "Nebraska", "Nevada", "New Hampshire", "New Jersey", "New Mexico", "New York", "North Carolina", "North Dakota", "Ohio", "Oklahoma", "Oregon", "Pennsylvania", "Rhode Island", "South Carolina", "South Dakota", "Tennessee", "Texas", "Utah", "Vermont", "Virginia", "Washington", "West Virginia", "Wisconsin", "Wyoming"]
coaldf = coaldf.assign(RegState = regstates).set_index("RegState").iloc[:, 7:].loc[usstates,:]
coaldf[coaldf=="--"] = np.nan
coaldf[coaldf=="NM"] = np.nan
coal_clean = coaldf.dropna().astype(float).T
coal_clean

RegState,Alabama,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Florida,Georgia,Illinois,...,South Carolina,South Dakota,Tennessee,Texas,Utah,Virginia,Washington,West Virginia,Wisconsin,Wyoming
Q1 2001,8337158.0,4667401.0,3165885.0,186440.0,4914880.0,447240.0,584696.0,7088945.0,7586921.0,11345998.0,...,3776922.0,590367.0,6110162.0,22164839.0,3457316.0,4001465.0,1591350.0,9112138.0,5844331.0,6886300.0
Q2 2001,7941126.0,5285073.0,3598755.0,248350.0,4922308.0,401770.0,384308.0,7139229.0,7851551.0,10714351.0,...,3544853.0,540435.0,6278998.0,22952510.0,3533848.0,3577603.0,1045910.0,8175723.0,5757642.0,6046131.0
Q3 2001,9724666.0,5229673.0,4365120.0,256340.0,5115914.0,419530.0,362640.0,7908980.0,8970913.0,13140705.0,...,4125699.0,559262.0,6663992.0,25962808.0,4047347.0,4118398.0,1610860.0,8893818.0,6584786.0,6436903.0
Q4 2001,7797616.0,4975428.0,3980228.0,205980.0,4811871.0,354790.0,148670.0,6559143.0,6481511.0,10531311.0,...,2934988.0,521541.0,5434079.0,21357650.0,3867209.0,3730152.0,1753290.0,6512558.0,5894172.0,6815085.0
Q1 2002,6783231.0,4501541.0,3136994.0,249359.0,4672570.0,416945.0,241484.0,6451904.0,7626999.0,11328970.0,...,3310960.0,588533.0,6143970.0,21917084.0,3760759.0,3667594.0,1763681.0,9486650.0,5196342.0,6630195.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Q3 2021,4456545.0,2650372.0,4616020.0,0.0,3774366.0,0.0,69412.0,2516828.0,4262843.0,7949053.0,...,1910953.0,397156.0,2973366.0,19316746.0,3800661.0,668135.0,809073.0,7164775.0,4828698.0,5871264.0
Q4 2021,3506767.0,2356245.0,1979034.0,0.0,3143811.0,0.0,8577.0,1269023.0,856325.0,5362334.0,...,1336902.0,98230.0,1451794.0,13800307.0,3028817.0,189183.0,576443.0,4458182.0,2659548.0,4518659.0
Q1 2022,3678169.0,1776545.0,3543345.0,0.0,2932684.0,0.0,50655.0,1567385.0,2640332.0,7115716.0,...,1492488.0,356768.0,2096275.0,14138528.0,2278637.0,558444.0,707601.0,5569865.0,3737854.0,4727510.0
Q2 2022,3359322.0,1570690.0,2136836.0,0.0,2568333.0,0.0,16296.0,1975682.0,2216492.0,5752825.0,...,1609471.0,341928.0,2384951.0,14319553.0,2335105.0,304436.0,196957.0,4966817.0,2694958.0,4026564.0
Q3 2022,3958188.0,2739094.0,3841097.0,0.0,3713348.0,0.0,1724.0,1784228.0,2118447.0,6389658.0,...,1591294.0,498470.0,2397534.0,17148078.0,3377341.0,509445.0,771067.0,6151286.0,3619609.0,6083652.0

In [367]:
p = pd.Period(coal_clean.index, freq='Q')

# convert the Period object to a datetime object
# d = p.to_timestamp()
p

ValueError: Value must be Period, string, integer, or datetime

In [365]:
pd.to_datetime(coal_clean.index, )

ParserError: Unknown string format: Q1 2001

<h3>Gas Prices by Select States; Quarterly 2003-2022</h3>

In [121]:
gas_price = pd.read_csv("gas_price.csv")
gas_price

,Back to Contents,Data 1: Regular Conventional,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
0,Sourcekey,EMM_EPMRU_PTE_NUS_DPG,EMM_EPMRU_PTE_R10_DPG,EMM_EPMRU_PTE_R1X_DPG,EMM_EPMRU_PTE_R1Y_DPG,EMM_EPMRU_PTE_R1Z_DPG,EMM_EPMRU_PTE_R20_DPG,EMM_EPMRU_PTE_R30_DPG,EMM_EPMRU_PTE_R40_DPG,EMM_EPMRU_PTE_R50_DPG,...,EMM_EPMRU_PTE_SNY_DPG,EMM_EPMRU_PTE_SMN_DPG,EMM_EPMRU_PTE_SOH_DPG,EMM_EPMRU_PTE_STX_DPG,EMM_EPMRU_PTE_SWA_DPG,EMM_EPMRU_PTE_YCLE_DPG,EMM_EPMRU_PTE_YDEN_DPG,EMM_EPMRU_PTE_YMIA_DPG,EMM_EPMRU_PTE_Y48SE_DPG,NaN
1,Date,Weekly U.S. Regular Conventional Retail Gasoli...,Weekly East Coast Regular Conventional Retail ...,Weekly New England (PADD 1A) Regular Conventio...,Weekly Central Atlantic (PADD 1B) Regular Conv...,Weekly Lower Atlantic (PADD 1C) Regular Conven...,Weekly Midwest Regular Conventional Retail Gas...,Weekly Gulf Coast Regular Conventional Retail ...,Weekly Rocky Mountain Regular Conventional Ret...,Weekly West Coast Regular Conventional Retail ...,...,Weekly New York Regular Conventional Retail Ga...,Weekly Minnesota Regular Conventional Retail G...,Weekly Ohio Regular Conventional Retail Gasoli...,Weekly Texas Regular Conventional Retail Gasol...,Weekly Washington Regular Conventional Retail ...,"Weekly Cleveland, OH Regular Conventional Reta...","Weekly Denver, CO Regular Conventional Retail ...","Weekly Miami, FL Regular Conventional Retail G...","Weekly Seattle, WA Regular Conventional Retail...",NaN
2,"Aug 20, 1990",1.191,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Aug 27, 1990",1.245,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Sep 03, 1990",1.242,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1698,"Feb 20, 2023",3.293,3.292,3.418,3.614,3.193,3.191,3.045,3.826,3.902,...,3.483,3.263,3.219,2.987,4.039,3.258,4.118,3.346,4.271,NaN
1699,"Feb 27, 2023",3.25,3.26,3.442,3.573,3.161,3.131,2.961,3.782,3.953,...,3.452,3.228,3.089,2.889,4.101,3.138,4.048,3.327,4.368,NaN
1700,"Mar 06, 2023",3.288,3.237,3.431,3.558,3.136,3.24,3.002,3.742,3.991,...,3.449,3.195,3.368,2.955,4.101,3.439,3.959,3.277,4.376,NaN
1701,"Mar 13, 2023",3.35,3.317,3.47,3.566,3.239,3.28,3.108,3.73,4.019,...,3.47,3.28,3.374,3.083,4.111,3.373,3.845,3.295,4.359,NaN
1702,"Mar 20, 2023",3.321,3.33,3.483,3.541,3.263,3.225,3.056,3.631,3.993,...,3.457,3.252,3.254,3.019,4.087,3.272,3.692,3.389,4.339,NaN

In [193]:
gasp_df = gas_price.loc[2:,]
gasp_df.columns = gas_price.loc[1,:]
gasp_df = gasp_df.set_index("Date").iloc[:, :-1]
stateext = gasp_df.columns.str.extract("Weekly (.*) Regular .*").T.values
gasp_df.columns = stateext[0]
gasp_cols = stateext[np.isin(stateext, usstates)]
weekly_gasp = gasp_df.loc[:, gasp_cols].dropna().astype(float)
weekly_gasp.index = pd.to_datetime(weekly_gasp.index)
q_gasp = weekly_gasp.resample("Q").mean().iloc[:-1,:]

In [195]:
yrs = pd.Series(np.repeat(np.arange(2003,2023,1), 4)[1:]).astype(str)
qs = pd.Series(np.tile(np.arange(1,5), 2023-2003)[1:]).astype(str)
qindex = "Q" + qs + " " + yrs
q_gasp.index = qindex
q_gasp

,Colorado,Florida,New York,Minnesota,Ohio,Texas,Washington
Q2 2003,1.471500,1.455167,1.523333,1.461667,1.435667,1.369333,1.562167
Q3 2003,1.581231,1.580692,1.664538,1.579077,1.563231,1.475154,1.748000
Q4 2003,1.471923,1.493077,1.620846,1.488615,1.463231,1.396846,1.580154
Q1 2004,1.583000,1.674462,1.772077,1.624385,1.638308,1.545462,1.710308
Q2 2004,1.899231,1.916308,2.003308,1.843154,1.840000,1.792308,2.108000
...,...,...,...,...,...,...,...
Q4 2021,3.430308,3.206000,3.470846,3.111077,3.133308,2.932231,3.769231
Q1 2022,3.453000,3.546462,3.811615,3.428615,3.424462,3.293615,4.065462
Q2 2022,4.240538,4.361538,4.565154,4.198385,4.294308,4.115077,4.908769
Q3 2022,4.075462,3.744385,4.322308,4.033385,3.840154,3.551692,4.798077
Q4 2022,3.251923,3.239000,3.713385,3.433000,3.497615,2.956538,4.533077

<h3>Net Energy Generation by Select States in Thousand MWh; Quarterly 2001-2022</h3>

In [201]:
net_gen = pd.read_csv("net_energy_gen.csv")
net_gen.head(10)

,Net generation for all sectors,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 257,Unnamed: 258,Unnamed: 259,Unnamed: 260,Unnamed: 261,Unnamed: 262,Unnamed: 263,Unnamed: 264,Unnamed: 265,Unnamed: 266
0,https://www.eia.gov/electricity/data/browser/#...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Wed Mar 22 2023 18:19:59 GMT-0400 (Eastern Day...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Source: U.S. Energy Information Administration,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,description,units,source key,Jan 2001,Feb 2001,Mar 2001,Apr 2001,May 2001,Jun 2001,Jul 2001,...,Mar 2022,Apr 2022,May 2022,Jun 2022,Jul 2022,Aug 2022,Sep 2022,Oct 2022,Nov 2022,Dec 2022
4,Net generation for all sectors,thousand megawatthours,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,United States,NaN,ELEC.GEN..M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,United States : all fuels (utility-scale),thousand megawatthours,ELEC.GEN.ALL-US-99.M,332493,282940,300707,278079,300492,327694,357614,...,324772,303324,342215,380649,424013,412710,350722,314111,322959,363625
7,United States : coal,thousand megawatthours,ELEC.GEN.COW-US-99.M,177287,149735,155269,140671,151593,162616,179060,...,60743,55023,62225,73287,86263,85000,64817,54071,56170,73164
8,United States : petroleum liquids,thousand megawatthours,ELEC.GEN.PEL-US-99.M,17300,9626,10981,10237,9641,10997,10050,...,966,745,861,912,1004,1022,996,990,937,3815
9,United States : petroleum coke,thousand megawatthours,ELEC.GEN.PC-US-99.M,812,716,752,627,749,825,992,...,463,496,667,665,482,564,623,574,628,785

In [299]:
gen_df = net_gen.iloc[4:, :].set_index("Net generation for all sectors")
gen_df.columns = net_gen.iloc[3, 1:].values
gen_df[gen_df=="--"] = np.nan
gen_df[gen_df=="NM"] = np.nan
gen_df = gen_df.iloc[:,2:].dropna().astype(float).reset_index()

In [300]:
stateindall = gen_df.iloc[:,0].str.extract("(.*) : .*")
stateind = stateindall[np.isin(stateindall, usstates)].rename(columns={0:"State"})
stategen_df = gen_df.join(stateind, how="right")

In [356]:
indus = stategen_df.iloc[:,0].str.extract(".* : (.*)")
keep = ["all fuels (utility-scale)", "coal", "wood and wood-derived fuels", "natural gas", "biomass", \
        "conventional hydroelectric", "wind", "all utility-scale solar", "nuclear"]
kept = indus[np.isin(indus, keep)].rename(columns={0:"Type"})
kept = kept.replace("all fuels (utility-scale)", "Total")
kept = kept.replace("coal", "Coal")
kept = kept.replace("wood and wood-derived fuels", "Wood")
kept = kept.replace("natural gas", "Natural Gas")
kept = kept.replace("biomass", "Biomass")
kept = kept.replace("conventional hydroelectric", "Hydroelectric")
kept = kept.replace("wind", "Wind")
kept = kept.replace("all utility-scale solar", "Solar")
kept = kept.replace("nuclear", "Nuclear")
gen_clean = stategen_df.join(kept, how="right").reset_index().iloc[:,2:]\
            .sort_values(["State", "Type"]).set_index("State")

In [357]:
keptlabels = pd.unique(kept.Type)
gen_yrs = pd.Series(np.repeat(np.arange(2001,2023,1), 4)).astype(str)
gen_qs = pd.Series(np.tile(np.arange(1,5), 2023-2001)).astype(str)
gen_index = "Q" + gen_qs + " " + gen_yrs
gen_dfdict = {}
for label in keptlabels:
    this_df = gen_clean[gen_clean.Type==label].iloc[:, :-1].T
    this_df.index = pd.to_datetime(this_df.index)
    this_df = round(this_df.resample("Q").mean(), 2)
    this_df.index = gen_index
    gen_dfdict[label] = this_df

gen_dfdict.keys()

dict_keys(['Total', 'Coal', 'Natural Gas', 'Nuclear', 'Hydroelectric', 'Biomass', 'Wood', 'Wind', 'Solar'])

In [359]:
#get the data by any key specified above
gen_dfdict["Biomass"]

State,Alabama,Arkansas,California,Colorado,Florida,Georgia,Hawaii,Idaho,Illinois,Indiana,...,Oregon,Pennsylvania,Rhode Island,South Carolina,Tennessee,Texas,Utah,Virginia,Washington,Wisconsin
Q1 2001,362.67,127.33,429.67,5.33,314.33,257.67,18.00,43.67,53.67,9.00,...,55.00,146.33,9.33,81.00,62.67,85.00,0.33,142.33,106.67,88.00
Q2 2001,335.00,97.67,435.33,5.33,321.67,252.00,27.67,45.67,55.33,8.33,...,62.67,155.33,9.00,76.67,70.00,76.67,0.33,138.33,102.33,75.00
Q3 2001,352.67,130.67,486.33,5.67,304.00,243.33,27.33,51.67,61.00,11.67,...,68.00,166.33,8.00,71.33,71.33,81.67,0.33,149.67,105.33,87.00
Q4 2001,345.67,148.67,451.33,5.00,323.00,248.00,23.33,36.67,55.67,9.33,...,64.67,161.00,8.33,69.00,70.67,88.00,1.00,151.67,92.33,93.33
Q1 2002,348.67,145.67,488.67,3.00,325.33,281.33,20.67,34.67,53.33,8.33,...,54.67,150.67,8.33,97.67,63.67,86.33,1.00,145.33,111.00,83.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Q4 2021,261.33,77.33,427.33,14.33,336.00,491.00,24.33,41.67,29.00,33.67,...,80.00,141.00,19.67,158.67,61.33,100.67,7.00,281.00,123.33,91.67
Q1 2022,260.67,78.00,443.67,14.67,328.67,469.67,23.33,41.33,33.00,34.33,...,88.67,128.33,19.00,183.33,55.00,114.67,6.00,295.67,111.67,102.33
Q2 2022,269.67,68.00,432.67,13.67,351.00,472.67,23.00,40.67,33.67,34.00,...,83.33,140.00,17.33,193.67,60.00,122.00,6.00,291.67,116.33,98.33
Q3 2022,272.00,77.67,472.00,14.00,358.33,501.33,21.67,39.67,33.00,32.00,...,94.00,139.67,18.33,189.67,60.67,140.33,6.33,318.00,121.33,110.00
Q4 2022,247.33,69.00,435.00,13.00,338.67,465.33,23.67,33.67,32.33,31.33,...,82.00,140.00,17.67,173.00,57.67,108.33,6.33,274.67,116.00,97.33